<div>
  <div *ngIf="showStats" class="stats-overlay">
    Stats
    <div>
      timeStamp: {{timeStamp}}
    </div>
    <div>
      currentTime: {{currentTime}}
    </div>
  </div>
  <div (click)="closePlayer()" class="video-controls-overlay" *ngIf="showOverlay">
    <div style="color: white;">
      <mat-icon>exit_to_app</mat-icon>
    </div>
  </div>
  <video crossorigin="use-credentials" [volume]="this.currentVolume" controls
    [attr.autoplay]="media.resume ? null : true" #videoTag (loaded)="loaded($event)" (loadeddata)="loadeddata($event)"
    (progress)="progress($event)" (timeupdate)="timeupdate($event)" (volumechange)="volumeChanged($event)"
    (mousemove)="videoMouseMove($event)">
    <source src="http://localhost:3000/watch-media?torrentUrl={{torrentUrl}}&torrentFile={{torrentFile}}" type="video/mp4">
    <track *ngIf="subtitlesSrc != null" [src]="'http://localhost:3000/get-vtt?path=' + subtitlesSrc" default>
  </video>
</div>
