.media-list-container {
  height: 75vh;
}

.loading {
  opacity: 0.6;
}

.search-input {
  margin-left: 10px;
}

.media-filter-select {
  margin-left: 10px;
}

.tv-sh-error {
  color: red;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(65vh - 20px);
}

.media-list-loading {
    position: absolute;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(65vh - 20px);
    width: 100%;
}