<div *ngIf="loaded">
  <mat-form-field appearance="fill" class="custom-mat-form-field media-filter-select" >
    <mat-label>{{languageService.getTranslation('Genre')}}</mat-label>
    <mat-select (selectionChange)="genreChanged($event.value)" [(value)]="selectedCategory" [disabled]="!loggedIn" (click)="inputClicked()">
      <mat-option *ngFor="let category of categories[mediaCategory]" [value]="category" class="custom-mat-option">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" class="custom-mat-form-field media-filter-select">
    <mat-label>{{languageService.getTranslation('Sort by')}}</mat-label>
    <mat-select (selectionChange)="sortChanged($event.value)" [(value)]="selectedFilter" [disabled]="!loggedIn" (click)="inputClicked()">
      <mat-option *ngFor="let sortBy of sortByList" [value]="sortBy" class="custom-mat-option">
        {{sortBy}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="custom-mat-form-field search-input" (click)="inputClicked()">
    <mat-label >{{languageService.getTranslation('Search')}}</mat-label>
    <input matInput (input)="searchInputChanged()" type="text" [(ngModel)]="searchInput" [disabled]="!loggedIn">
    <button mat-button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput=''">
      <mat-icon (click)="clearSearchInput()">close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div>
    
</div>
<div *ngIf="!loaded && mediaItems.length == 0" class="centered">
    <mat-spinner class="custom-mat-spinner"></mat-spinner>
</div>
<div *ngIf="loading" class="media-list-loading centered">
    <mat-spinner class="custom-mat-spinner"></mat-spinner>
</div>
<div *ngIf="loaded" [ngClass]="{'loading': loading}" class="media-list-container" stickyHeaderDirective
  style="overflow: auto; max-height: 100%;" (appScrollToEnd)="scrollToEnd()" [attr.media-category]="mediaCategory">

  <app-media-list-item *ngFor="let media of mediaItems" [media]="media" [mediaCategory]="mediaCategory">
  </app-media-list-item>
  <div *ngIf="tv_sh_error.length > 0" class="tv-sh-error">
    {{tv_sh_error}}
  </div>
  <button (click)="searchInputChanged()" mat-stroked-button *ngIf="tv_sh_error.length > 0">
      Retry
  </button>
</div>
