<div class="container" *ngIf="mediaEpisodes" style="position: relative; overflow: hidden; border: 1px solid #151515;">
  <img src="{{media.images.fanart}}" style="position: absolute; left: 0; top: 0; width: 100%; height: auto; opacity: 0.2; border-radius: initial">
  <div class="media-poster left">
    <img src="{{media.images.banner}}">
  </div>
  <div class="media-details">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button>
    <div class="media-title">
      <h1>{{media.title}}</h1>
    </div>
    <div class="media-metadata">
      {{media.year}} • {{mediaEpisodes.runtime}} min • {{mediaGenres}}
    </div>
    <div class="media-synopsis">
      {{mediaEpisodes.synopsis}}
    </div>
  </div>
</div>
<div class="container" *ngIf="selectedSeason" style="background-color:#151515">
  <section class="left" style="width: 15%">
    <div class="custom-title" >
      Saisons
    </div>
    <mat-button-toggle-group style="display: flex; width: 85%; margin: auto;" vertical="true" aria-label="Font Style" value="{{selectedSeason.season}}">
      <mat-button-toggle *ngFor="let season of seasons" value="{{season.season}}" (click)="switchSeason(season.season)">
        {{season.season}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </section>
  <section style="width: 85%" >
    <div class="custom-title">
      Episodes
    </div>
    <mat-button-toggle-group style="width: 100%" vertical="true" aria-label="Font Style" value="{{selectedEpisode.title}}">
      <mat-button-toggle *ngFor="let episode of selectedSeason.episodes" value="{{episode.title}}"
        (click)="selectEpisode(episode.title)">
        <div class="left episode-number">{{episode.episode}}</div>
        <mat-icon *ngIf="episode.seen" class="left seen-icon">remove_red_eye</mat-icon>
        <div class="episode-title">{{episode.title}} </div>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </section>
</div>
<div class="load-spinner" *ngIf="!mediaEpisodes">
  <mat-spinner class="custom-mat-spinner"></mat-spinner>
</div>
<app-comment-list *ngIf="mediaEpisodes" [imdb_id]="media.imdb_id">
    
</app-comment-list>
