<mat-drawer-container class="custom-mat-drawer-container" autosize>
  <mat-drawer #drawer class="custom-mat-drawwer sidebarMobile" mode="over" position="end" opened="{{drawerOpened}}">
    <mat-card class="custom-mat-card">
      <div *ngIf="!user">
        <div class="custom-title">
          Please log in 
        </div>
        <hr style="width: 80%" >
        <app-google-oauth></app-google-oauth>
        <app-school-oauth></app-school-oauth>
        <app-register-form></app-register-form>
      </div>
      <div *ngIf="user">
          <app-user-panel></app-user-panel>
      </div>
    </mat-card>
  </mat-drawer>
  <app-media-categories *ngIf="(user && user.Account.username != null || !user)"></app-media-categories>
  <app-username-form *ngIf="user && user.Account.username == null" [user]="user"></app-username-form>
</mat-drawer-container>