.media-list-item {
  cursor: pointer;
  width: 182px;
  height: 268px;
  display: inline-block;
  background-position: center;
  background-size: cover;
  margin: 2px;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.media-list-item:hover {
  cursor: pointer;
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}


.media-list-item:hover>.rating {
  opacity: 1;
}

.seen {
  opacity: 0.5;
}

.star-rating {
  height: 20px;
  margin-left: 2px;
}

.rating {
  opacity: 0;
  margin-top: 240px;
}

.media-title {
    text-shadow: 1px 1px 5px black;
  height: 20px;
  margin-top: 5px;
  vertical-align: middle;
  color:rgb(230, 230, 230);
}
