<div class="subtitles">
    {{languageService.getTranslation('Subtitles')}} :
    <mat-button-toggle-group style="flex-wrap: wrap;" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle *ngFor="let sub of subtitlesList" value="{{sub}}" (click)="subtitleChanged(sub)">
            <img height="32" width="32" [src]="'/assets/flags/' + sub + '.svg'">
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>
<table mat-table [dataSource]="torrents" class="mat-elevation-z8 mat-elevation-custom">
    <ng-container matColumnDef="resolution">
        <th mat-header-cell *matHeaderCellDef class="xSmall">{{languageService.getTranslation('Quality')}}</th>
        <td mat-cell *matCellDef="let element" class="xSmall"> {{element.resolution}} </td>
    </ng-container>
    <ng-container matColumnDef="size" *ngIf="!media.tvdb_id">
        <th mat-header-cell *matHeaderCellDef class="hideMobile">{{languageService.getTranslation('Size')}}</th>
        <td mat-cell *matCellDef="let element" class="hideMobile"> {{element.size}} </td>
    </ng-container>
    <ng-container matColumnDef="seeds">
        <th mat-header-cell *matHeaderCellDef class="hideMobile"> Seeds </th>
        <td mat-cell *matCellDef="let element" class="hideMobile"> {{element.seeds}} </td>
    </ng-container>
    <ng-container matColumnDef="peers">
        <th mat-header-cell *matHeaderCellDef class="hideMobile"> Peers </th>
        <td mat-cell *matCellDef="let element" class="hideMobile"> {{element.peers}} </td>
    </ng-container>
    <ng-container matColumnDef="watch">
        <th mat-header-cell *matHeaderCellDef> Watch</th>
        <td mat-cell *matCellDef="let element">
            <button *ngIf="busy && busyElement == element" (click)="cancelWatch(element)" color="warn" mat-button
                color="primary">Cancel</button>
            <button *ngIf="!busy || busyElement != element" [disabled]="busy && element != busyElement ? '' : null"
                (click)="watch(element)" mat-button color="primary">
                <mat-icon>play_circle_outline</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="state">
        <th mat-header-cell class="mat-header-cell-custom" *matHeaderCellDef class="hideXSmall"> State </th>
        <td mat-cell *matCellDef="let element" class="hideXSmall">
            <mat-progress-bar *ngIf="element.state == 'Check magnet'" mode="indeterminate"></mat-progress-bar>
            <mat-progress-bar *ngIf="element.state != 'Check magnet'" value="{{element.buff}}"></mat-progress-bar>
            <div style="font-size: 9px;">{{element.state}}</div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>