/* Top Bar */
* {
  font-family: "Roboto", Arial, sans-serif;
  color: #bbbbbb;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

app-top-bar {
  height: 68px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(0, 0, 0, 0.1);
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

body {
  margin: 0;
  background-image: url("/assets/background.png");
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: row;
}

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

html,
body {
  overflow-y: hidden;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-oauth-button {
  display: flex;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  background-color: white;
  cursor: pointer;

}

.custom-oauth-icon {
  width: 20%;
  display: inline;
  margin: auto;
  border-right: 1px solid #171717;
}

.custom-oauth-text {
  width: 80%;
  display: inline;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-weight: 500;
  color: grey;
}

.custom-title {
  display: flex;
  margin: auto;
  justify-content: center;
  font-size: 18px;
  padding: 5px;
}

.custom-disabled-color {
  color: rgb(255 255 255 / 38%) !important;
}

.custom-mat-card {
  background: #2e2e2e;
  height: 100%;
}

.custom-mat-option {
  background: rgb(0, 0, 0)!important;
  opacity: 0.8;
}

.custom-mat-option:hover {
    background: rgb(50, 50, 50)!important;
    opacity: 0.8;
}

.mat-select-panel {
    background: rgba(100, 100, 100, 0.1);
}


.custom-dialog-container .mat-dialog-container {
  background-color: rgba(0, 0, 0, 0.9);
}

.custom-resume-dialog-container .mat-dialog-container {
  background-color: rgba(50, 50, 50, 0.9);
}

.custom-mat-drawer-container {
  background-color: transparent;
}

.custom-mat-drawwer {
  background-image: url("/assets/background.png");
  background-size: cover;
  opacity: 0.9;
  width: 400px;
}

.custom-mat-expansion-panel {
  background-color: #333333;
}

.custom-mat-expansion-panel-header-description {
  color: #bbbbbb;
}

.custom-mat-expansion-panel-header-title {
  color: white;
}

.mat-chip-custom {
  background-color: #333333 !important;
  color: white !important;
}

.custom-mat-form-field {}

.mat-header-cell {
  color: white;
}

.mat-header-row {
  background: #282828;
}

.mat-cell {
  color: white;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: white;
}

.mat-button-toggle-label-content {
  line-height: 32px !important;
}

.mat-button-toggle-appearance-standard {
  background: rgba(50, 50, 50, 0.8);
}

.mat-button-toggle-checked {
  background: rgba(70, 70, 70, 0.8);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
  ;
}

.cdk-global-scrollblock {
  overflow-y: auto;
}
